@use '../abstracts/mixins' as *;

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; ;
    font-weight: 700;
}

.header{
    &-title {
        @include respond-to(medium){
        }
        font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
    }
}

.card {
    .price {
        @include respond-to(medium){ 
            font-size: clamp(2rem, 1.286rem + 1.905vw, 3rem);
            
        }
        font-size: 4rem;
    
        
    
    }
    .dollar {
        font-size: 2.2rem;
    }
    &-type{
        @include respond-to(medium){
            font-size: 1rem;
        }
        font-size: 1.35rem;
    }
    .feature {
        @include respond-to(medium){
            font-size: .7rem;

        }
    }
    .btn {
        @include respond-to(medium){
            font-size: .7rem;    
        }
    }

    
}